{% extends "base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}

	<div class="section">
		<div class="container grid">
			<div class="blog-container">
				<div class="blog-info">
					<h2>{{article.title}}</h2>
					<p>{{article.createdAt|date("d/m/Y")}}</p>

					<p>{{article.content}}</p>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
