{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}

	<section class="section">
		<h1 class="section-title">Famille des
			{{family.name}}
		</h1>
	</section>
	<section>
		{% if family.story %}
			<details>
				<summary>Histoire botanique</summary>
				{{family.story}}
			</details>
		{% endif %}
	</section>
	<div class="section">
		<div class="product-container  grid">

			{% for oil in oils %}

				<a href="{{path('oil_read', {id: oil.id})}}">
					<div class="product">
						<div class="product-img">
							
						</div>
						<div class="product-info">
							{{oil.name}}
						</div>
					</div>

				</a>

			{% endfor %}

		</div>
	</div>
{% endblock %}
