{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}

	<div class="section">
		<div class="container grid">
			name : {{oil.name}}<br>
			text : {{oil.description}}<br>
			capacity : {{oil.capacity}}<br>
			price : {{oil.price}}
		</div>
	</div>

{% endblock %}
