{% extends 'base.html.twig' %}

{% block title %}Edit Oil{% endblock %}

{% block body %}
    <h1>Edit Oil</h1>

    {{ include('admin_oils/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_oils_index') }}">back to list</a>

    {{ include('admin_oils/_delete_form.html.twig') }}
{% endblock %}
