{% extends 'base.html.twig' %}

{% block title %}New Family{% endblock %}

{% block body %}
    <h1>Create new Family</h1>

    {{ include('admin_families/_form.html.twig') }}

    <a href="{{ path('admin_families_index') }}">back to list</a>
{% endblock %}
