.oil-section{
margin:1rem;
padding:1rem;
}
.oil-container {
  display: grid;
  grid-template-columns: 1fr;
  gap:2rem;
}
.oil-families{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
    padding:1rem;
    margin: 1rem 0;
}
.oil-products {
  margin: 1rem 0;
  display:grid;
  grid-template-columns: 1fr;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
  padding:1rem;
  gap:1rem;
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 425px) {
}
@media screen and (min-width: 768px) {
  .display-mobile {
    display: none;
  }
  .display-desktop {
    display: block;
  }
  .oil-container{
      display:grid;
      grid-template-columns: 0.2fr 1fr;
  }
  .oil-products{
      display:grid;
      grid-template-columns:1fr;
  }
}
@media screen and (min-width:1024px){
  .oil-products{
    display:grid;
    grid-template-columns:repeat(2,1fr)
}
}
@media screen and (min-width: 1440px) {
  .display-mobile {
    display: none;
  }
  .display-desktop {
    display: block;
  }
  .oil-products{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
}







