/* -------------------------------------------------------------------------- */
/*                             import font family                             */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@400;600&family=Montserrat:wght@400;600;700&display=swap');

/* -------------------------------------------------------------------------- */
/*                                variables css                               */
/* -------------------------------------------------------------------------- */

:root{
/* -------------------------------------------------------------------------- */
/*                                    font                                    */
/* -------------------------------------------------------------------------- */
--font-family-title:'Montserrat', sans-serif;
--font-family-normal:'M PLUS Code Latin', sans-serif;
--font-weight-medium: 500;
--font-weight-semi-bold:600;
--biggest-font-size: 2.5rem;
--big-font-size: 2rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--font-size-normal: 1em;
--sacramento:'Sacramento', cursive;
--hindVadodara:'Hind Vadodara', sans-serif;
--nunitoSans:'Nunito Sans', sans-serif;

/* -------------------------------------------------------------------------- */
/*                                    color                                   */
/* -------------------------------------------------------------------------- */
--dark:#212121;
--black:#000000;
--grey:lightgrey;
--white:#FFF;
--green: #4a894c;
--darkblue: #1a262e;
--lightblue:#00646B;

/* -------------------------------------------------------------------------- */
/*                                   padding                                  */
/* -------------------------------------------------------------------------- */
--padding-3:3em;

/* -------------------------------------------------------------------------- */
/*                                   z-index                                  */
/* -------------------------------------------------------------------------- */
--z-index:100;
--header-height:3em;
}
@media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.75rem;
      --h3-font-size: 1.25rem;
      --font-size-normal: 1rem;

    }
  }


/* -------------------------------------------------------------------------- */
/*                                  base                                   */
/* -------------------------------------------------------------------------- */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin:var(--header-height) 0 0 0;
  color:black;
  font-family:var(--font-family-normal);
}
h1, h2, h3{
  color:var(--green);
  font-weight:var(--font-weight-semi-bold);
  font-family:var(--font-family-title);
  font-size: var(--h1-font-size);
}


/* -------------------------------------------------------------------------- */
/*                                    lien                                    */
/* -------------------------------------------------------------------------- */
a{
  color:var(--lightblue);
  font-weight: 700;
  text-decoration: none !important;
  text-transform: uppercase;
  font-family:var(--hindVadodara);
  font-size:var(--fontSizeTextMobile);
  }
  /* -------------------------------------------------------------------------- */
  /*                                     img                                    */
  /* -------------------------------------------------------------------------- */
  img {
    max-width: 100%;
    height: auto;
  }
  /* -------------------------------------------------------------------------- */
  /*                                     ul                                     */
  /* -------------------------------------------------------------------------- */
  ul{
    list-style: none;
  
  }
/* -------------------------------------------------------------------------- */
/*                                   button                                   */
/* -------------------------------------------------------------------------- */
button,input{
  border:none;
  font-family: var(--font-family-normal);
  font-size: var(--font-size-normal);
}
button{
  cursor:pointer;
}

input{
  outline:none;

}
textarea::placeholder{
  font-size: var(--font-size-normal);
}

/* -------------------------------------------------------------------------- */
/*                                 paragraphe                                 */
/* -------------------------------------------------------------------------- */
p{
  color:var(--lightblue);
  font-size:var(--fontSizeTextMobile);
}
/* -------------------------------------------------------------------------- */
/*                            reusable css classes                            */
/* -------------------------------------------------------------------------- */
.section {
  padding: 4.5rem 0 2.5rem;
 display:flex;
 justify-content: center;
}
.section-product{
  display:flex;
  justify-content: center;
}
.section-title {
  font-size: var(--h2-font-size);
  color: var(--green);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.container {
  max-width: 968px;
  margin-left: 1em;
  margin-right: 1em;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.title{
  font-size:var(--biggest-font-size);
  color:var(--green);
  font-weight:var(--font-weight-semi-bold);
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.7);
}
.subtitle{
  font-size:var(--big-font-size);
  color:var(--dark);
  font-weight: bold;

}
.button{
 
  background:var(--dark);
  color:white;
  padding:1rem 2rem;
  display: inline-block;
  text-transform:uppercase;
  font-weight:var(--font-weight-semi-bold);
  transition: 0.4s;
  text-decoration: none;
}
.button:hover{
  color:var(--green);
}
/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index);
  background-color: transparent;
  transition: 0.4s;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.nav-logo{
  height:6em;
}
.nav-list a{
  color:var(--green);
  font-size:var(--h3-font-size);
}
.nav-list{
  padding: 0 2rem;
}
.nav-list li{
  padding:1rem 0;
}
.nav-list a:hover{
  color:var(--green);
}
.my-account{
  display:flex;
  flex-direction: column;
}

details{

  color:var(--green);
  padding:0.5rem 1rem;
}
summary{
  font-size: var(--h3-font-size);
}

.my-account a {
  text-decoration: none;
  color:var(--dark);
}
.success-message{
  background:var(--green);
  color:var(--white);
  border-radius: 20px;
  padding:2rem 4rem;
  z-index: 9999;
  position: absolute;
  top:20%;
  left:50%;
  transform:translate(-50%,-50%);
}
@media screen and (max-width: 767px) {
  /*section nav */
  .nav-menu {
    position: fixed;
    background-color: white;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.7);
    padding:3rem 0;
    transition: .4s;
  }
  .nav-list{
      display: flex;
      flex-direction: column;
      column-gap:1rem;
  }
  .nav-account{
    display:none;
  }
  #nav-toggle{
    color:darkgreen;
    font-weight: var(--font-weight-semi-bold);
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;

  }
  #nav-toggle::before{
    content:"";
    background:var(--dark);
    width:60px;
    height:10px;
    top:0px;
    position: absolute;
    transition: 0.5s;
  }
  #nav-toggle span{
    content:"";
    background:var(--dark);
    width:60px;
    height:10px;
    position: absolute;
    top:25px;
    transition: 0.5s;

  }
  #nav-toggle::after{
    content:"";
    background:var(--dark);
    width:60px;
    height:10px;
    position: absolute;
    bottom:0px;
    transition: 0.5s;
  }
  #nav-toggle.burger::before{
    transform: translateY(30px) rotate(45deg);
    background:var(--green);
    border-radius:20px;
  }
  #nav-toggle.burger span{
    transform: translateX(-60px);
    background:var(--green);
    border-radius:20px;
    opacity:0;
  }
  #nav-toggle.burger::after{
    transform: translateY(-20px) rotate(-45deg);
    background:var(--green);
    border-radius:20px;
  }





}
/* -------------------------------------------------------------------------- */
/*                                  show-menu                                 */
/* -------------------------------------------------------------------------- */
.show-menu{
  left:0;
}
/* Change background header */
.scroll-header {
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.7);;
  background-color: rgba(255, 255, 255, 0.8);
}
header{
  background-color: rgba(255, 255, 255, 0.8);
}

/* -------------------------------------------------------------------------- */
/*                                    main                                    */
/* -------------------------------------------------------------------------- */
main{
  overflow-x: hidden;
}

.home-container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}

.home-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 106vh;
  object-fit: cover;
  object-position: 50%;
  opacity: 70%;
}

/* -------------------------------------------------------------------------- */
/*                                   elixir                                   */
/* -------------------------------------------------------------------------- */
.elixir-container{
  row-gap: 2.5rem;
}
.elixir-info{
  text-align:center;
}

.elixir-description{
  margin-bottom: 2rem;
}
.elixir-img{
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}


.elixir-img-two{
  width:200px;
}

/* -------------------------------------------------------------------------- */
/*                               qui sommes nous                              */
/* -------------------------------------------------------------------------- */
.qui-info{
  text-align:center;
}
.qui-description{
  margin-bottom: 2rem;
}
.qui-img{
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}
.qui-container{
  row-gap: 2.5rem;
}
/* -------------------------------------------------------------------------- */
/*                       nos valeurs et nos engagements                       */
/* -------------------------------------------------------------------------- */
.valeur-container{
  row-gap: 2.5rem;
}
.valeur-info{
  text-align:center;
}
.valeur-description{
  margin-bottom: 2rem;
}
.valeur-liste{
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                                   contact                                  */
/* -------------------------------------------------------------------------- */
.contact-bg{
  background:var(--green);
  padding: 2.5rem 1rem;
}
.contact-title, .contact-description{
  color:white;
}
.contact-description{
  text-align: center;
  margin-bottom: 2.5rem;
}

.submit{
  width:100%;
  margin-top:0.5rem;
}
/* -------------------------------------------------------------------------- */
/*                                 scroll-top                                 */
/* -------------------------------------------------------------------------- */
#scroll-top{
  position: fixed;
  top:-120%;
  right:2rem;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  background:var(--green);
  color:white;
  border:1px solid var(--white);
  border-radius: 0.5rem;
  transition: 1s linear;
}
#scroll-top.active{
  top:calc(100% - 12rem);
}
/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

footer{
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
  background:var(--darkblue);
}
 .footer-container{
  padding:4em 0;
  row-gap: 5rem;
}
 .footer-content{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}
 .footer-title{
  font-size: var(--h1-font-size);
  margin-bottom: 0.5rem;
}
.footer-description{
  margin-bottom: 2rem;
  color:var(--white);
}
.footer-item{
  margin-bottom: 0.75rem;
  color:var(--white);
  text-decoration: none;
}    

/* -------------------------------------------------------------------------- */
/*                                media queries                                */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 768px){

  /* nav */

  #nav-toggle{
      display:none;
  }

  .nav-menu{
    display:flex;

  }
  .nav-account-mobile{
    display:none;
  }
  .nav-list{
    display:flex;
    flex-direction: row;
  }
  .nav-list li{
    padding:0 3rem;
  }
  /* section home */
  .home-info{
      padding:0 0 0 5rem;
  }
  /* section elixir */
  .elixir-container{
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
  }
  .elixir-info, .elixir-title{
      text-align: initial;
  }
  .elixir-img-two{
      width:300px;
  }
  /* qui sommes nous */
  .qui-img{
      flex-direction: row;
  }
  /* nos valeurs et nos engagements */
  .valeur-container{
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
  }
  .valeur-info, .valeur-title{
      text-align: initial;
  }
   /* section contact */
   .contact-bg{
      padding: 0; 
  }

  .contact-container{
      padding: 3.5rem 8rem;
      margin:auto;

  }
 
  /* scroll-top */
  #scroll-top{
      font-size: 3rem;
  }
  /* section footer */

  .footer-container{
      margin:auto;
  }
  .footer-content{
      grid-template-columns: repeat(2,1fr);
      column-gap: 5rem;
  }
  

}




/*checkbox*/
.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
  box-shadow:inset -2px -2px 15px rgba(0,0,0, 0.5)
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
  box-shadow: 2px 2px 15px rgba(0,0,0, 0.5)
}

input:checked + .slider {
  background-color: var(--green);
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*PRODUITS*/
.oil-button:hover{
border-color:var(--green);
}